.App {
  text-align: center;
  margin: 2% 20%;
  background-color: #fcbe78;
  border-radius: 4%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a.Menu-item {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

li>a.Menu-item:hover {
  color: red;
}

li.menu_li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

ul.menu_ul {
  background-color: antiquewhite;
}

.addbtn_form {
  margin: 10px;
  height: 55px;
}
.Title_form {
  font-size: 163%;
  font-weight: bolder;
}
.Input_form{
  font-size: larger;
}
.Deadline_form{
  font-size: 100%;
}
.todo_list {
  margin: auto;
}
div.App > div.MyTodo {
  text-align: center;
  margin: 2% 8%;
  width:84%;
  height: 100%;
}
.IconButton{
  margin: 0px 100px;
}
